POSTGRES_USER=admin
POSTGRES_PASSWORD=keepIt_password
POSTGRES_DB=keepIt
SPRING_DATASOURCE_URL_POSTGRES_DB="jdbc:postgresql://db-postgres:5432/${POSTGRES_DB}"

# Backend
JWT_SECRET=4Z^XrroxR@dWxqf$mTTKwW$!@#qGr4P

# Frontend (Vite)
VITE_API_URL=http://localhost:8080